version: '3.9'

services:
  nginx:
    image: nginx:1.29.4@sha256:e3a22a791adaf8f59de605d824f8d9cf0ac7c7c779d405bb0158144e57433246
    hostname: nginx
    container_name: tyan0proxy__nginx

    restart: unless-stopped

    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2026.1.1@sha256:5bb6a0870686742d00e171f36c892ba91e5994631bc363d808b9ba822262dad6
    hostname: cloudflared
    container_name: tyan0proxy__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:
      prometheus__cloudflared:
        aliases:
          - tyan0proxy__cloudflared

networks:
  default:
    name: tyan0proxy__default

  prometheus__cloudflared:
    name: prometheus__cloudflared
    external: true
