name: validate compose

on:
  pull_request:
    paths:
      - 'docker-compose.yml'
      - '.github/workflows/validate-compose.yml'

jobs:
  validate-compose:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-node@v6.0.0

      - name: validate
        shell: bash
        run: |
          shopt -s globstar
          set -eux

          for f in **/docker-compose.yml; do
              if ! docker compose --file "$f" config --quiet; then
                  exit 1
              fi
          done

          exit 0
