name: validate compose

on:
  pull_request:
    paths:
      - 'docker-compose.yml'
      - '.github/workflows/validate-compose.yml'

jobs:
  validate-compose:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3.3.0

      - uses: actions/setup-node@v3.6.0

      - name: validate
        shell: bash
        run: |
          shopt -s globstar
          set -eux

          for f in **/docker-compose.yml; do
              if ! docker compose --file "$f" config --quiet; then
                  exit 1
              fi
          done

          exit 0
