name: validate nginx

on:
  pull_request:
    paths:
      - 'nginx.conf'
      - '.github/workflows/validate-nginx.yml'

jobs:
  validate-nginx:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - uses: actions/setup-node@v4.0.2

      - name: install
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq nginx

      - name: validate
        shell: bash
        run: |
          sudo useradd -M nginx
          shopt -s globstar
          set -eux

          for f in **/nginx*.conf; do
              if ! sudo nginx -t -c "$(cd "$(dirname "$f")" && pwd)/$(basename "$f")"; then
                  exit 1
              fi
          done

          exit 0
