name: validate compose

on:
  pull_request:
    paths:
      - 'docker-compose.yml'
      - '.github/workflows/validate-compose.yml'

jobs:
  validate-compose:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-node@v3.8.2

      - name: validate
        shell: bash
        run: |
          shopt -s globstar
          set -eux

          for f in **/docker-compose.yml; do
              if ! docker compose --file "$f" config --quiet; then
                  exit 1
              fi
          done

          exit 0
